---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import App from '@components/App.astro';
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
import platforms from '@assets/data/platforms.json';

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/images/logos/*.{svg,jpeg,jpg,png,gif}");

---

<Layout>
	<App> 
    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-6">
      {platforms.map((platform) => (
        <Card href={`/download-${platform.slug}`}>
          <div class="w-full p-4 flex items-start" slot="card-header">
            <Image src={images[`${platform.image.filename}`]()} alt={platform.image.alt} slot="card-image" height="50"/>
          </div>
          <div class="font-bold text-xl mb-2" slot="card-title">{platform.name}</div>
          <div class="text-gray-700 text-base" slot="card-description">{platform.description}</div>
        </Card>
      ))}
    </div>
  </App>
</Layout>
