---
import Card from '@components/Card.astro';
import Header from '@components/Header.astro';
import background from '@assets/background.svg';
import YoutubeCardImage from '@assets/logos/youtube.svg';
import InstagramCardImage from '@assets/logos/instagram-1.png';
import TikTokCardImage from '@assets/logos/tiktok.png';

const platforms = [
  {
    title: 'YouTube',
    description: 'Descarga videos o el audio de tus videos favoritos.',
    image: YoutubeCardImage.src
  },
  {
    title: 'TikTok',
    description: 'Descarga videos o el audio de tus videos favoritos.',
    image: TikTokCardImage.src
  },
  {
    title: 'Instagram',
    description: 'Descarga videos o el audio de tus videos favoritos.',
    image: InstagramCardImage.src
  }
]   
---

<div id="container">
  <img id="background" src={background.src} alt="" fetchpriority="high" />
  <Header />
	<main>

		<section id="hero">

			<!-- <a href="https://astro.build"
				><img src={astroLogo.src} width="115" height="48" alt="Astro Homepage" /></a
			>
			<h1>
				To get started, open the <code><pre>src/pages</pre></code> directory in your project.
			</h1> -->
			<!-- <section id="links"> -->
				<!--<a class="button" href="https://docs.astro.build">Read our docs</a>
				<a href="https://astro.build/chat"
					>Join our Discord 
				</a>-->
        <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-6">
          {platforms.map((platform) => (
            <Card title={platform.title} description={platform.description}>
              <div class="w-full p-4 flex items-start" slot="card-header">
                <img class="h-12" src={platform.image} alt={platform.title} slot="card-image"/>
              </div>
              <div class="font-bold text-xl mb-2" slot="card-title">{platform.title}</div>
              <div class="text-gray-700 text-base" slot="card-description">{platform.description}</div>
            </Card>
          ))}
       </div>
			<!-- </section> -->
		</section>
	</main>
  <footer></footer>
</div>

<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}

	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

	#links {
		display: flex;
		gap: 16px;
	}

	#links a {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		color: #111827;
		text-decoration: none;
		transition: color 0.2s;
	}

	#links a:hover {
		color: rgb(78, 80, 86);
	}

	#links a svg {
		height: 1em;
		margin-left: 8px;
	}

	#links a.button {
		color: white;
		background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(0, 0, 0, 0.24);
		border-radius: 10px;
	}

	#links a.button:hover {
		color: rgb(230, 230, 230);
		box-shadow: none;
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}

		#links {
			flex-wrap: wrap;
		}

		#links a.button {
			padding: 14px 18px;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
